<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="tests">

    <test verbose="2" thread-count="5" preserve-order="true" name="Test1">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Parallelexe.Parellel">
                <methods>
                    <include name="title"/>
                </methods>
            </class>
        </classes>
    </test>






</suite>